```
<div class="quizBox">

  <div class="quizHeader">
    <div class="quizName">
      <h3 class="quizName">Quiz 1</h3>
    </div>
    <div class="questionNumber">
      <h3 class="questionNumber">Question 1/2</h3>
    </div>
  </div>

  <div class="questionBox">
    <h3 class="questionText">This is the question </h3>
  </div>

  <div class="possibleAnswersBox">
    <div class="possibleAnswer">
      <h3>True</h3>
    </div>
    <div class="possibleAnswer">
      <h3>False</h3>
    </div>
  </div>

</div>
```
