

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Marvel', sans-serif;
  color: #c5c6c7;
  background-image: url('https://www.designyourway.net/diverse/darkpat/COLOURlovers.com-box_surprise_mystery.jpg');
  background-repeat: repeat;
}

p {
  font-family: 'Lora', serif;
}

p.selected {
  font-color: green;
}
/* NAVBAR */

#user {
  display: -webkit-box;
  width:5em;
}

.label {
  color: rgba(197,198,199, 0.3);
  transform-origin: 0 0;
  transition: all .2s ease;
}
.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0077FF;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease;
}
.name-input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 0 0;
  height: 48px;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #c5c6c7;
  transition: all .15s ease;
}
.name-input::hover {
  background: rgba(#c5c6c7,.03);
}

.name-input::focus{
    background: none;
    outline: none;
    + span
      color: #0077FF;
      transform: translateY(-26px) scale(.75);
      + .border
          transform: scaleX(1);
}

header {
  width: 100%;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #c5c6c7;
    font-size: 2.5rem;
    display: flex;
    margin: 0.25em;
}

.nav div.logo a:hover {
    color: #FBCB43;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #c5c6c7;
    line-height: 65px;
    font-size: 1.5rem;
}

.nav div.main_list ul li a:hover {
    color: #FBCB43;
}


/* Home section */

.home {
  width: 100%;
  height: 250px;
  background-image: url(../images/banner5.png);
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.quiz-wrapper {
  background-color: #1f2833;

  width: 1000px;
  margin: 0 auto;
  padding-top: 0px;
}

#quizBox {
  background-color: #1f2833;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 2%;
  color: #c5c6c7;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#quizBox > h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 35px;
}

.questions {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  border-top: 1px solid #66fcf1;
  border-bottom: 1px solid #66fcf1;
  padding: 20px;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 30px;
}

.answers div:hover {
  cursor: pointer;
  color: #FBCB43;
}

.answers {
  padding: 0px 0 10px 0px;
}

.answers div {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-top: 1px solid #66fcf1;
}

.answers div:first-child {
  border: none;
}

.checker {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

.correct, .false {
  background-color: #109D59;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.false {
  background-color: #DC4437;
}

div.quiz-wrapper{
  display: block;
  text-align: -webkit-center;
  background-color: #1f2833;
  margin-top: 0px;
  border-radius: 10px;
}

p.questions {
  margin-top: 0;
}

button.submit {
  background: none;
  border: none;
  font-size: 2em;
  color: #6efaf1;
  padding-bottom: 10px;
}

button.submit:hover {

}

.questionText {
  border-top: 1px solid #66fcf1;
  padding: 20px;
}

.congrats-text {
  border-bottom: 1px solid #66fcf1;
  padding: 20px;
}

/* FOOTER */


.arrow {
	position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
	border: 2px solid #6efaf1;
	border-color: transparent transparent transparent #6efaf1;
	height: 360px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow .point {
	position: absolute;
	left: 40px;
	top: 315px;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid #6efaf1;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}
.footer #button{
	width:35px;
	height:35px;
	border: #45a29e 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
    /* .footer #button {
      position: relative;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-top: 27px solid transparent;
      border-right: 27px solid #66fcf1;
      transform: rotate(10deg);
    }
    .footer #button:after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #66fcf1;
      border-radius: 60px 0 0 0;
      top: -36px;
      left: -27px;
      width: 36px;
      height: 36px;
      transform: rotate(45deg);
    } */

.footer #button:hover{
	width:35px;
	height:35px;
	border: #45a29e 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 12em;
}
.footer #container{
  display: flex;
  justify-content: space-around;
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: #1f2833;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-size: 10px;
  text-align: left;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}

/* SOCIALS  */

.wrapper, {
  font-weight: bold;
	text-align: center;
}
hr{
	border-top:2px solid #1C1E26 ;
	border-bottom:2px solid #38404D;
}
.list-unstyled {
  display: flex;
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;

}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}

/* WHEEL */

.select-instructions {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 15em;
}

.circle-menu {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0px auto;
}

.circle-menu span {
    position: absolute;
    top: 45px;
    left: 36px;
    color: #fff;
}

.circle-menu ul {
    position: absolute;
    width: 450px;
    height: 450px;
    margin: 75px;
    padding: 0;
    list-style: none;
    border-radius: 50%;
    overflow: hidden;
}

.circle-menu .center{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 265px;
    left: 265px;
    z-index: 1;
    border-radius: 50%;
    background-color: #0b0c10;
    background-image:
      linear-gradient(0deg, transparent 50%,
        #66fcf1 51%,
        #66fcf1 52%,
        transparent 53%, transparent 97%,
        #66fcf1 98%,
        #66fcf1 99%,
        transparent 100%, transparent),
      linear-gradient(45deg, transparent 24%,
        #66fcf1 25%,
        #66fcf1 26%,
        transparent 27%, transparent 74%,
        #66fcf1 75%,
        #66fcf1 76%,
        transparent 77%, transparent),
      linear-gradient(-45deg, transparent 24%,
        #66fcf1 25%,
        #66fcf1 26%,
        transparent 27%, transparent 74%,
        #66fcf1 75%,
        #66fcf1 76%,
        transparent 77%, transparent);
    background-size: 35px 35px;
    background-position: 23px 13px;
}

.circle-menu li {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 240px;
    height: 240px;
    transform-origin: 100% 100%;
    overflow: hidden;
}

.circle-menu li:nth-child(1) {
    transform: rotate(0deg) skew(30deg);
}

.circle-menu li:nth-child(2) {
     transform: rotate(60deg) skew(30deg);
}

.circle-menu li:nth-child(3) {
     transform: rotate(120deg) skew(30deg);
}

.circle-menu li:nth-child(4) {
     transform: rotate(180deg) skew(30deg);
}

.circle-menu li:nth-child(5) {
     transform: rotate(240deg) skew(30deg);
}

.circle-menu li:nth-child(6) {
     transform: rotate(300deg) skew(30deg);
}

.circle-menu li a{
    display: block;
    width: 240px;
    height: 240px;
    margin-top: 40px;
    margin-left: 40px;
    background: rgba(122, 136, 150, 0.8) url(../images/1.png) no-repeat 50% 40%;
    transform: skew(-30deg) rotate(-60deg);
    transition: background-color 0.5s;
}

.circle-menu li:nth-child(even) a {
    background-color: rgba(58, 138, 134, 0.8);
}

.circle-menu li a:hover {
    background-color:rgba(102,252,241, 0.8);
}


.circle-menu li:nth-child(2) a {
    background-image: url('../images/2.png');
}
.circle-menu li:nth-child(3) a {
    background-image: url('../images/3.png');
}
.circle-menu li:nth-child(4) a {
    background-image: url('../images/4.png');
}
.circle-menu li:nth-child(5) a {
    background-image: url('../images/5.png');
}
.circle-menu li:nth-child(6) a {
    background-image: url('../images/6.png');
}


/* progress bars */
