

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Marvel', sans-serif;
  color: #c5c6c7;
  background-image: url('../images/pattern.jpg');
  background-repeat: repeat;
}

p {
  font-family: 'Lora', serif;
}
/* NAVBAR */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #c5c6c7;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #FBCB43;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #c5c6c7;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #FBCB43;
}


/* Home section */

.home {
  width: 100%;
  height: 300px;
  background-image: url(../images/banner3.png);
  background-position: center top;
  background-size: auto;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper {
  width: 430px;
  margin: 0 auto;
  height: 100%;
  padding-top: 0px;
}

#quiz {
  background-color: #1f2833;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 2%;
  color: #c5c6c7;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#quiz > h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
}

.questions {
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  border-top: 1px solid #66fcf1;
  border-bottom: 1px solid #66fcf1;
  padding: 20px;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.answers div:hover {
  cursor: pointer;
  color: #FBCB43;
}

.answers {
  padding: 0px 0 10px 0px;
}

.answers div {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-top: 1px solid #66fcf1;
}

.answers div:first-child {
  border: none;
}

.checker {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

.correct, .false {
  background-color: #109D59;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.false {
  background-color: #DC4437;
}

/* FOOTER */

.footer #button{
	width:35px;
	height:35px;
	border: #45a29e 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #45a29e 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #1f2833;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}

/* SOCIALS  */
.socials div {
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* Icons */

.socials a {
  color:#fff;
  background: #DB6E82;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.socials a:hover {
  background: #ef92a3;
}

/* pop-up text */

.socials a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.socials a span:before {
  content:'';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

.socials a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons */

.socials a:nth-of-type(1):before {
content:'https://www.shareicon.net/download/2015/08/04/79838_color.ico';
}
.socials a:nth-of-type(2):before {
content:'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-128.png';
}

/* WHEEL */

.circle-menu {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0px auto;
}

.circle-menu span {
    position: absolute;
    top: 30px;
    left: 24px;
    color: #fff;
}

.circle-menu ul {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 0;
    list-style: none;
    border-radius: 50%;
    overflow: hidden;
}

.circle-menu .center{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 162px;
    left: 162px;
    z-index: 1;
    border-radius: 50%;
    background-color: #5d111e;
    background-image:
      linear-gradient(0deg, transparent 50%,
        #e3e2df 51%,
        #e3e2df 52%,
        transparent 53%, transparent 97%,
        #e3e2df 98%,
        #e3e2df 99%,
        transparent 100%, transparent),
      linear-gradient(45deg, transparent 24%,
        #e3e2df 25%,
        #e3e2df 26%,
        transparent 27%, transparent 74%,
        #e3e2df 75%,
        #e3e2df 76%,
        transparent 77%, transparent),
      linear-gradient(-45deg, transparent 24%,
        #e3e2df 25%,
        #e3e2df 26%,
        transparent 27%, transparent 74%,
        #e3e2df 75%,
        #e3e2df 76%,
        transparent 77%, transparent);
    background-size: 35px 35px;
    background-position: 23px 13px;
}

.circle-menu li {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 160px;
    height: 160px;
    transform-origin: 100% 100%;
    overflow: hidden;
}

.circle-menu li:nth-child(1) {
    transform: rotate(0deg) skew(30deg);
}

.circle-menu li:nth-child(2) {
     transform: rotate(60deg) skew(30deg);
}

.circle-menu li:nth-child(3) {
     transform: rotate(120deg) skew(30deg);
}

.circle-menu li:nth-child(4) {
     transform: rotate(180deg) skew(30deg);
}

.circle-menu li:nth-child(5) {
     transform: rotate(240deg) skew(30deg);
}

.circle-menu li:nth-child(6) {
     transform: rotate(300deg) skew(30deg);
}

.circle-menu li a{
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 40px;
    margin-left: 40px;
    background: rgba(93,17,30, 08) url(https://htmlacademy.ru/assets/icons/monitor-4x.png) no-repeat 50% 40%;
    transform: skew(-30deg) rotate(-60deg);
    transition: background-color 0.5s;
}

.circle-menu li:nth-child(even) a {
    background-color: rgba(227,226,223, 0.8);
}

.circle-menu li a:hover {
    background-color:rgba(237,75,125, 0.8);
}


.circle-menu li:nth-child(2) a {
    background-image: url('https://htmlacademy.ru/assets/icons/aperture-4x.png');
}
.circle-menu li:nth-child(3) a {
    background-image: url('https://htmlacademy.ru/assets/icons/audio-4x.png');
}
.circle-menu li:nth-child(4) a {
    background-image: url('https://htmlacademy.ru/assets/icons/battery-empty-4x.png');
}
.circle-menu li:nth-child(5) a {
    background-image: url('https://htmlacademy.ru/assets/icons/bluetooth-4x.png');
}
.circle-menu li:nth-child(6) a {
    background-image: url('https://htmlacademy.ru/assets/icons/browser-4x.png');
}
